// Default black theme

// Color variables
$black: #181818;
$red: #e74727;
$red-small: #dc3918;
$magenta: #cd2da8;
$white: #fff;

// Config
$color-background: $black !default;
$color-dot-accent: $magenta !default;
$color-foreground: $white !default;
$color-title: $white !default;
$color-body-text: $black !default;
$color-text-accent: $magenta !default;
$color-code: $magenta !default;
$color-nav-link: $magenta !default;
$color-primary-link: $magenta !default;

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Import sass partials (used in all themes)
@import "variables", "base", "components", "utilities";
