// White theme

// Color variables
$black: #181818;
$red: #e74727;
$red-dark: #dc3918;
$magenta: #cd2da8;
$gray-light: #f5f5f5;
$white: #fff;

// Config
$color-background: $gray-light !default;
$color-dot-accent: $magenta !default;
$color-foreground: $black !default;
$color-title: $black !default;
$color-body-text: $black !default;
$color-text-accent: $magenta !default;
$color-code: $magenta !default;
$color-nav-link: $magenta !default;
$color-primary-link: $magenta !default;

// Import sass partials (used in all themes)
@import "variables", "base", "components", "utilities";
